<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple flashcards</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="wrapper">
    <div class="content">
        <h1>
            <div>
                <span th:text="${front}"></span>
            </div>
            <hr>
            <div>
                <span th:utext="${back}"></span>
            </div>
        </h1>
    </div>
    <div class="footer">
        <div>
            <button type="button" style="width: 50%; height: 10%" th:onclick="|window.location.href='/cards/'|">Next</button>
        </div>
    </div>
</div>

</body>
